body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(bubbles-svg-wallpaper-138823.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.score {
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

.timer {
  float: right;
  margin-right: 20px;
  font-size: 30px;
}

.buttons {
  margin-top: 50px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#rosso {
  color: yellow;
  margin-top: 350px;
}

#giallo {
  color: red;
}

#verde {
  color: pink;
}

#arancione {
  color: purple;
}

#blu {
  color: blue;
}

#rosa {
  color: black;
}
